name: mesa-mestre

services:
  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

volumes:
  postgres:
    name: mesa-mestre-postgres
  redis:
    name: mesa-mestre-redis
